body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "menubar"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

.header {
    grid-area: header;
    background: #1C4C7F;
    color: white;
    padding: 1em;
    text-align: center;
}

.menubar {
    grid-area: menubar;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menubar ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    box-shadow: 5px 10px slategray;
    border-radius: 6px;
}
  
.menubar li {
    margin: 0;
}
  
.menubar a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
  
.menubar li a:hover {
    background-color: white;
    color: black;
    font-style: italic;
    font-weight: bold;
    width: 100px;
}

.main {
    grid-area: main;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background: #1C4C7F;
    color: white;
    padding: 20px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.images img {
    width: 100%; 
    height: auto;   
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "header header"
            "menubar menubar"
            "main main"
            "footer footer";
    }

    .menubar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menubar li {
        margin: 0;
    }

    .menubar {
        padding: 10px 20px;
    }

    .images img {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .images img {
        width: calc(33.3333% - 10px);
    }
}
