.grid-container-body { /*Change background color for every change in screen sizes*/
    display: grid;
    grid-template-areas: 
        'header header'
        'sidebar sidebar'
        'content content'
        'footer footer';
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: skyblue;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightslategray;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebar nav li a:hover {
    background-color: #DDDDDD;
    color: black;
} 

.sidebar nav li a.active {
    background-color: #DDDDDD;
    color: black;
}

.content {
    grid-area: content;
    background-color: springgreen;
}

.footer {
    grid-area: footer;
    background-color: skyblue;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
    gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: aqua;
    color: black;
    text-align: center;
    font-size: 20px;
    border: 2px solid #123456;
}

.item1 {
    grid-column: 1/3;
    border-radius: 8px;
}

.item2 {
    grid-column: 3/4;
}

.item3 {
    grid-column: 1/2;
}

.item4 {
    grid-column: 2/4;
    border-radius: 100px;
}

@media (min-width: 768px) {
    .grid-container-body {
       grid-template-areas: 
        'header header header'
        'sidebar content content'
        'footer footer footer';
    }

    .content {
        grid-area: content;
        background-color: bisque;
    }
}
 
@media (min-width: 1024px) {
    .grid-container-body {
       grid-template-areas: 
        'header header header'
        'sidebar content content'
        'sidebar footer footer';
    }

    .content {
        grid-area: content;
        background-color: sandybrown;
    }
 } 

 /* browserstack.com/responsive 
    => website for checking responsiveness on different screen sizes */