body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333333;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "content"
        "footer";
    grid-gap: 10px;
    padding: 10px;
}

header, footer {
    background-color: #1C4C7F;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

#footnote {
    font-size: small;
}

.navbar {
    grid-area: navbar;
    background-color: #56585D;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: block;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #DDDDDD;
    color: black;
}

.content {
    grid-area: content;
}

ul.custom-bullet {
    list-style-image: url('../images/bulletpoint.png');
}

ul.custom-bullet li {
    font-weight: bold;
}

mark {
    background-color: lightslategray; 
    color: #FFFFFF;
}

figure {
    margin: 10px 0;
    text-align: center;
}

figure img {
    max-width: 50%;
    border-radius: 8px;
    height: auto;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "navbar navbar"
            "content content"
            "footer footer";
        grid-template-columns: 1fr 1fr;
    }
    
    .navbar ul {
        display: flex;
        justify-content: space-around;
    }
    
    .navbar ul li {
        display: inline;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-areas:
            "header header header"
            "navbar navbar navbar"
            "content content content"
            "footer footer footer";
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    .content {
        padding: 20px;
    }
}
