body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer";
    grid-gap: 10px;
    padding: 10px;
}

header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.navbar {
    grid-area: navbar;
    background-color: #56585D;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: block;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #DDDDDD;
    color: black;
}

.intro {
    text-align: center;
    padding: 2em;
    background-color: darkgray;
}

.features {
    display: grid;
    grid-template-rows: 1 fr;
    gap: 20px;
    padding: 20px;
}

.feature {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.feature img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.game-section {
    text-align: center;
    padding: 2em;
}

#game-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    border: 1px solid #000;
}

#score {
    font-size: 1.2em;
    margin-top: 1em;
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .intro {
        padding: 2em;
    }

    .features {
        grid-template-columns: 1fr;
    }

    nav ul li {
        margin-right: 1em;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding: 2.5em;
    }

    .features {
        grid-template-columns: 1fr 1fr;
    }

    nav ul li {
        margin-right: 1.5em;
    }
}